.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.item-details {
  margin-bottom: 10px;
}

.item-stadistic {
  width: 100%;
}

.item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.item-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 16px;
    width: 100%;
  }

  .item-details {
    grid-column: 1;
    grid-row: 1;
  }

  .item-stadistic {
    grid-column: 1;
    grid-row: 2;
  }

  .item-image-container {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}