.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: auto;
    margin-top: 2%;
    max-width: 95%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.g-container {
    background: linear-gradient(to top right, var(--ice-100), var(--ice-50));
    color: var(--navy-900);
    padding: 0px;
    border-radius: 10px;
    box-shadow: -5px 7px 5px rgba(0, 0, 0, 0.5);
}

.loading-container {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    text-align: center;
}

.loading-icon {
    font-size: 2rem;
    animation: spin 1s linear infinite;
    margin-bottom: 0.5rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.no-items-container {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .dashboard-grid {
        grid-template-columns: 1fr 3fr;
    }
}