.main-container {
  text-align: center;
  background: linear-gradient(to top right, var(--ice-100), var(--ice-50));
  color: var(--navy-900);
  padding: 0px;
  border-radius: 10px;
  box-shadow: -5px 7px 5px var(--gray-300);
  margin: 2% 25% 2% 25%;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 20px;
  margin-bottom: 2%;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: start;
}

textarea {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: start;
}

label {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25%;
  text-align: start;
  font-weight: bold;
}

.buttonSubmit {
  grid-column: 1 / -1;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  background-color: var(--navy-800);
  color: var(--ice-50);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}